@font-face {
  font-family: 'CustomFont';
  src: url('./../../public/fonts/Avigea.woff2') format('woff2'),
       url('./../../public/fonts/Avigea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontTitle';
  src: url('./../../public/fonts/Titania-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #ecebbd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ecebbd;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
}

.destak{
  color: #eca753;
  font-family: 'FontTitle', sans-serif;
  text-shadow: 2px 2px 0px #461f24; /* Sombra */
  -webkit-text-stroke: 1px #461f24; /* Contorno preto */
}

body {
  color: #461f24;
  background: var(--background);
  font-family: 'CustomFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
