.footerSize {
    height: auto;
    width: 100%;
    background: linear-gradient(45deg, #eea347, #e0a94c);
    color: #782b52;
    display: flex;
    /* Define como flex container */
    flex-direction: column;
    /* Organiza os itens em coluna */
    justify-content: flex-end;
    /* Alinha os itens ao final da coluna */
    align-items: center;
    padding: 20px 0 20px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.destakWhite {
    color: #ecebbd;
    font-family: 'FontTitle', sans-serif;
    text-shadow: 2px 2px 0px #782b52;
    /* Sombra */
    -webkit-text-stroke: 1px #782b52;
    /* Contorno preto */
    font-size: 28px;
}

.footerRow {
    display: flex;
    /* Define como flex container */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Permite que os itens "quebrem" para a próxima linha */

}

.aLink {
    text-decoration: underline;
    /* Aplica sublinhado ao passar o mouse */
    margin: 10px;
    border-radius: 50%;
}

.iconsContainer {
    border-left: 5px solid #782b52;
    display: flex;
    /* Define como flex container */
    flex-direction: row;
    padding: 20px;
    margin: 20px;
}


.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: #ecebbd;
    background-color: transparent;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.aLinkSocial svg path {
    filter: drop-shadow(35px 35px 0px #782b52);
    transition: filter 0.3s ease;
}

.icon:hover {
    transform: scale(1.5);

}

@media (max-width: 700px) {
    .destakWhite {
        font-size: 24px;

    }

    .iconsContainer {
        padding: 10px;
        margin: 20px;
    }

    .footerRow> :nth-child(1) {
        margin: 10px 0 10px 0;
    }

}